version: '3.8'

services:
  avigilon-landing:
    container_name: avigilon-landing
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3010:3000" # Exposing on port 3010 to avoid conflict with existing container on 3000
    environment:
      - NODE_ENV=production
    networks:
      - default

networks:
  default:
    driver: bridge
