@import "tailwindcss";

@theme {
  --color-primary: #0078D4;
  --color-dark-surface: #1F2937;
  --color-background: #F9FAFB;
  --color-text-main: #111827;
  --color-text-secondary: #4B5563;

  --font-sans: var(--font-inter);
}

:root {
  --background: #F9FAFB;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}